<!doctype html>
<html>
<head>
    <title>Demo Day</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="/molecule.css">
    <script src="/p5.js" type="text/javascript"></script>
    <!-- O -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="styleProfile.css">
        <!-- O -->
</head>
<body>
<!-- without = is for if / for statements ()
  with = its a value you are writing to the page  -->

  <h1> <%= report.labTitle %></h1>
<!-- create a form, which lets me have inputs for each part of the section and the parts of the section are the text and the position and also a ketcher, when i submit that form it needs to be saved into mongo  -->
<!-- create a route here that says save section. so the form's action will be /saveSection  -->
<!-- when i submit form, it is going to go to a route called save section; and that route has to know what report does this section belong to and when i submit a form, it takes all the inputs and puts them into req.body. can also use fetch instead of form; but a form is easier. a fetch, send all the stuff from different inputs from fetch to a route;  -->
</body>
</html>
